/* reset CSS */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
@font-face {
    font-family: montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(../font/Montserrat-Medium.ttf);
}

/* Title */

/* Body */

body {
    background-color: #F3F3F3;
    color: #181818;
    font-family: montserrat-medium;
    font-size: 1rem;
}

a,
a:visited {
    color: #F3F3F3;
    text-decoration: none;
}

a:hover {
    color: #4B96DB;
}

/* Title */
h1,
h2,
h3,
h4 {
    font-family: montserrat-black;
    text-transform: uppercase;
}

/* ------HEADER------ */

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    color: #F3F3F3;
    padding: 2rem 5rem;
    border-bottom: #4B96DB 2px solid;
}

/* User */

.user-actuality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.user-actuality h2 {
    margin-bottom: 2rem;

}

.user-actuality span {
    padding: 0 1rem;
}


/* Settings */
.settings a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings a i {
    font-size: 1.5rem;
}

.settings a i,
.settings a span {
    padding: 5px;
}

/* ---------Homepage---------*/
/* Herobanner */

.herobanner {
    height: 60vh;
    background: url(/public/assets/img/background-herobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    flex-direction: column;
    border-bottom: 2px solid #4B96DB;
}

.title-herobanner {
    background-color: #373737dd;
    padding: 2rem;
    border-bottom: #4B96DB 5px solid;
}

h1 {
    font-family: montserrat-black;
    font-size: 2.5rem;
}

.herobanner h1 {
    color: #F3F3F3;
    margin-bottom: 1rem;
}

.herobanner p {
    font-size: 1.5rem;
    color: #F3F3F3;
}

/* Main */
/* catégorie */
section {
    padding: 0 5rem;
    margin: 10rem 0;
}

.title-section {
    border-bottom: 5px solid #4B96DB;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

h3 {
    font-size: 1.8rem;
    font-family: montserrat-black;
}

.title-section h3,
.title-section span {
    margin-bottom: 1rem;
}

.title-section span a {
    color: #181818;
}

.title-section span a:hover {
    color: #4B96DB;
}

/* Section articles */

.all-articles {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 2rem 0;
}

.article {
    display: grid;
    grid-template-rows: 60% 40%;
    width: max(17rem, min(17rem));
    height: max(22rem, min(22rem));
    background-color: #F3F3F3;
    border-radius: 20px;
    border: 2px solid #181818;
    margin-right: 2rem;
}

.img-article img {
    width: 100%;
    height: 100%;
    border-radius: 19px 19px 0 0;
}

.title-article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-top: 2px solid #181818;
    align-items: center;
}

.title-article h4 {
    font-family: montserrat-medium;
    padding: 20px;
    font-size: 1rem;
    text-transform: lowercase;
}

/* ---------PAGES---------- */
.title-section.main-title-page {
    display: flex;
    justify-content: center;
    border: none;
    text-decoration: 10px #4B96DB underline;
    margin-bottom: 10rem;
}

.title-article-section.title-section {
    margin-bottom: 3rem;
    align-items: center;
}

.article-pages {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 75%;
    margin: 0 auto 8rem;
}

.title-section-date {
    margin-bottom: 2rem;
}

.img-articles-pages {
    margin: 0 auto;
}

.img-article-pages img {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

.button-article-section {
    margin-top: 3rem;
}

.button-article-section a,
button {
    border: 2px solid #4B96DB;
    color: #181818;
    padding: 5px 10px;
    border-radius: 10px;
}

.button-article-section a:hover,
button:hover {
    cursor: pointer;
    color: #F3F3F3;
    background-color: #4B96DB;
}

/* ---------Formulaire---------- */
.background-form {
    height: 100vh;
    width: 100%;
    background: url(../img/background-form.jpg) center / cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: #F3F3F3;
    border: 3px solid #4B96DB;
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    border-radius: 20px;
    width: 30rem;
}

.form h1 {
    text-align: center;
    text-decoration: 10px #4B96DB underline;
    margin-bottom: 1rem;
}

.form p {
    text-align: center;
    margin: 0.5rem 0 3rem;
}

.error-text {
    color: red;
    text-align: center;
    grid-column: 2/3;
    margin-bottom: 1rem !important;
}

.article-form h2,
.category h2 {
    text-align: center;
    text-transform: none;
}



.userchoice-number-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.userchoice-number-article,
.userchoice-categories-article {
    margin: 2rem 0;
}

.userchoice-number-article div {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
}

.userchoice-number-article div label,
.userchoice-categories-article div {
    margin-bottom: 1rem;
}

/* -------FOOTER------ */
footer {
    height: fit-content;
    padding: 50px;
    background-color: #181818;
    border-top: #4B96DB 2px solid;
    display: flex;
    flex-direction: column;
}

footer .social-medias {
    margin: 0 auto 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social-medias h4 {
    font-size: 1.2rem;
    color: #F3F3F3;
    padding: 0 5px;
    margin-right: 2rem;
}

footer .social-medias a {
    padding: 0 5px;
    border: 1px solid #F3F3F3;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

footer .social-medias a:hover {
    border: 2px solid #4B96DB;
    color: #4B96DB;
}

footer .footer-mandatory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    border-top: 2px solid #4B96DB;
    border-bottom: 2px solid #4B96DB;
    width: fit-content;
    padding: 20px 0;
}

footer .footer-mandatory a {
    padding: 10px;
}


/* Responsive tablette */
@media screen and (max-width: 1300px) {
    .article-pages {
        max-width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .article-pages {
        grid-template-columns: 100%;
    }

    .img-article-pages {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }

    .img-article-pages img {
        width: 50%;
        height: 100%;
        margin-left: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 850px) {
    section {
        padding: 0 1.5rem;

    }
}

@media screen and (max-width: 650px) {
    .img-article-pages img {
        width: 100%;
        margin-left: 0;
        margin: 0 auto;
    }
}